* {
  margin: 0;
}

@font-face {
  font-family: "PlayFair";
  src: url("../fuentes/Playfair/static/Lora-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url("../fuentes/Lora/Lora-VariableFont_wght.ttf") format("truetype");
}

#navegacion {
  background-color: rgb(197, 175, 250);
  height: 6vh;
  margin-bottom: 2%;
}

#navegacion ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navegacion li {
  margin-right: 10%; /* Ajusta el espaciado entre los enlaces según sea necesario */
  margin-top: 0.5%;
  margin-left: 3%;
}

#navegacion input {
  margin-left: -75%;
  border-radius: 30px;
  margin-right: 30%;
  width: 120%;
  border: none;
  font-family: Lora;
}

#navegacion i {
  font-size: 140%;
}

#navegacion a {
  text-decoration: none; /* Quita la decoración de los enlaces */
  color: #000; /* Cambia el color del texto según tus preferencias */
}

#miniLogo {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-top: -4px;
}

#miniLogo img {
  height: 100%;
  width: 100%;
}

#miniImagenPerfil {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-top: -4px;
  right: 0;
}

#miniImagenPerfil img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

#miniPerfil {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  background-color: rgba(78, 38, 163, 0.819);
  height: 50vh;
  width: 40vh;
  border-radius: 30px;
  margin-right: 2vh;
  margin-left: 5vh;
  margin-top: 2vh;
  grid-column: 1;
  grid-row: 1;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.261);
}

#fotoPerfil {
  height: 15vh;
  width: 15vh;
  overflow: hidden;
  border-radius: 50%;
  padding: 5%;
  margin-left: 7%;
  grid-column: 1;
  grid-row: 1;
}

#fotoPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#nombre {
  background-color: white;
  width: 18vh;
  height: 10vh;
  border-radius: 25px;
  text-align: center;
  margin-left: -5%;
  margin-top: 20%;
  grid-column: 2;
  grid-row: 1;
  font-family: Playfair;
}

.experiencia {
  font-family: Lora;
}
#experiencia1 {
  background-color: white;
  width: 35vh;
  height: 8vh;
  grid-column: 1 / 3;
  grid-row: 2;
  margin-left: 6%;
  margin-top: -15%;
  border-radius: 30px;
  text-align: center;
}

.textoNegrita {
  font-family: Playfair;
  font-weight: bold;
  font-size: 130%;
}

#experiencia2 {
  background-color: white;
  width: 35vh;
  height: 8vh;
  grid-column: 1 / 3;
  grid-row: 3;
  margin-left: 6%;
  margin-top: -50%;
  border-radius: 30px;
  text-align: center;
}

#experiencia3 {
  background-color: white;
  width: 35vh;
  height: 8vh;
  grid-column: 1 / 3;
  grid-row: 4;
  margin-left: 6%;
  margin-top: -27%;
  border-radius: 30px;
  text-align: center;
}

#cuerpo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.cuerpoOferta {
  font-family: Lora;
  font-size: 100%;
}

#div-CuerpoOferta {
  width: 80%;
  justify-content: center;
  margin-left: 5%;
}

#imagenEmpresa-oferta {
  height: 5rem;
  width: 5rem;
  border-radius: 50px;
  background-color: white;
  margin-left: 2%;
}
#imagenEmpresa-oferta img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

#oferta1 {
  background-color: rgba(224, 212, 250, 0.819);
  height: 30vh;
  width: 120vh;
  border-radius: 50px;
  grid-column: 2;
  grid-row: 1;
  margin-top: 2vh;
  margin-left: -8%;
  margin-bottom: 5%;
  padding-top: 3%;
  padding-left: 2%;
  display: flex;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.261);
}

#oferta2 {
  background-color: rgba(224, 212, 250, 0.819);
  height: 30vh;
  width: 120vh;
  border-radius: 50px;
  grid-column: 2;
  grid-row: 1;
  margin-top: 2vh;
  margin-left: -8%;
  margin-bottom: 5%;
  padding-top: 3%;
  padding-left: 2%;
  display: flex;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.261);
}

#oferta3 {
  background-color: rgba(224, 212, 250, 0.819);
  height: 30vh;
  width: 120vh;
  border-radius: 50px;
  grid-column: 2;
  grid-row: 3;
  margin-top: 2vh;
  margin-left: -8%;
  padding-top: 3%;
  padding-left: 2%;
  display: flex;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.261);
}

#miniCalendario {
  background-color: rgba(39, 11, 100, 0.819);
  grid-column: 1;
  grid-row: 2;
  height: 50vh;
  width: 40vh;
  margin: 2vh;
  margin-top: -70%;
  border-radius: 30px;
  margin-right: 2vh;
  margin-left: 5vh;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.261);
}

#botonSolicitar {
  font-family: Playfair;
  font-weight: bold;
  background-color: rgb(197, 175, 250);
  color: white;
  border: none;
  border-radius: 30px;
  width: auto;
  height: 2rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.261);
}

#botonSolicitar:hover {
  background-color: rgba(39, 11, 100, 0.819);
}
