RewriteEngine On

RewriteRule ^Login$ index.php?f=comprobarLogin&m=Login [L]

RewriteRule ^Register$ index.php?f=mostrarRegister&m=Login [L]

RewriteRule ^Registrar$ index.php?f=registrar&m=Login [L]

RewriteRule ^HomePage$ index.php?f=mostrarNombre&m=Azafata [L]

RewriteRule ^HomePageEmpresa$ index.php?f=mostrarNombre&m=Empresa [L]

RewriteRule ^HomePage/Solicitar/([1-9][0-9]*)$ index.php?f=solicitarTrabajo&m=Azafata&idEvento=$1 [L]

RewriteRule ^CrearEvento$ index.php?f=CrearEvento&m=Evento [L]

RewriteRule ^CrearEvento/Creado$ index.php?f=insertarEvento&m=Evento [L]

RewriteRule ^Evento/([1-9][0-9]*)$ index.php?f=gestionarEvento&m=Evento&idEvento=$1 [L]

RewriteRule ^Evento/Contratar/([1-9][0-9]*)/([1-9][0-9]*)$ index.php?f=contratarAzafata&m=Evento&idAzafata=$1&idEvento=$2 [L]

RewriteRule ^Evento/Finalizar/([1-9][0-9]*)$ index.php?f=finalizarEvento&m=Evento&idEvento=$1 [L]
