<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Host</title>
  <link rel="stylesheet" href="css/homePage.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.css" />

</head>

<body>
  <div id="navegacion">
    <nav>
      <ul>
        <li><a href="#inicio">Logo</a></li>
        <li><input type="text" id="buscar" placeholder="Buscar"></li>
        <li><a href="#acerca">Icono Home</a></li>
        <li><a href="#servicios">Icono Empleos</a></li>
        <li><a href="#contacto">Icono notificaciones</a></li>
        <li><a href="#contacto">Icono perfil</a></li>
      </ul>
    </nav>
  </div>
  <div id="cuerpo">
    <div id="miniPerfil">
      <div id="fotoPerfil"><img src="../imagenes/azafata1.1.jpg"></div>
      <div id="nombre">{{nombre}} <br> Azafata de Eventos</div>
      <div id="experiencia1">{{experiencia1}}</div>
      <div id="experiencia2"></div>
      <div id="experiencia3"></div>
    </div>
    <div id="miniCalendario"></div>
    <div id="ofertasTrabajo">
      <div id="oferta1"></div>
      <div id="oferta2"></div>
      <div id="oferta3"></div>
    </div>
  </div>
</body>

</html>