* {
  margin: 0;
}

#navegacion {
  background-color: rgb(197, 175, 250);
  height: 5vh;
}

#navegacion ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#navegacion li {
  margin-right: 8%; /* Ajusta el espaciado entre los enlaces según sea necesario */
  margin-left: 2%;
  margin-top: 0.5%;
}

#navegacion a {
  text-decoration: none; /* Quita la decoración de los enlaces */
  color: #000; /* Cambia el color del texto según tus preferencias */
}

#navegacion a:hover {
  text-decoration: underline; /* Añade subrayado al pasar el mouse sobre los enlaces */
  color: #333; /* Cambia el color del texto al pasar el mouse sobre los enlaces */
}

#miniPerfil {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  background-color: rgba(78, 38, 163, 0.819);
  height: 50vh;
  width: 40vh;
  border-radius: 30px;
  margin: 2vh;
  grid-column: 1;
  grid-row: 1;
}

#fotoPerfil {
  height: 15vh;
  width: 15vh;
  overflow: hidden;
  border-radius: 50%;
  padding: 5%;
  margin-left: 7%;
  grid-column: 1;
  grid-row: 1;
}

#fotoPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#nombre {
  background-color: white;
  width: 18vh;
  height: 10vh;
  border-radius: 25px;
  text-align: center;
  margin-left: -5%;
  margin-top: 20%;
  grid-column: 2;
  grid-row: 1;
}

#experiencia1 {
  background-color: white;
  width: 35vh;
  height: 8vh;
  grid-column: 1 / 3;
  grid-row: 2;
  margin-left: 6%;
  margin-top: -15%;
  border-radius: 30px;
}

#experiencia2 {
  background-color: white;
  width: 35vh;
  height: 8vh;
  grid-column: 1 / 3;
  grid-row: 3;
  margin-left: 6%;
  margin-top: -50%;
  border-radius: 30px;
}

#experiencia3 {
  background-color: white;
  width: 35vh;
  height: 8vh;
  grid-column: 1 / 3;
  grid-row: 4;
  margin-left: 6%;
  margin-top: -27%;
  border-radius: 30px;
}

#cuerpo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

#oferta1 {
  background-color: rgba(224, 212, 250, 0.819);
  height: 30vh;
  width: 150vh;
  border-radius: 50px;
  grid-column: 2;
  grid-row: 1;
  margin-top: 2vh;
  margin-left: -1.5%;
  margin-bottom: 5%;
}

#oferta2 {
  background-color: rgba(224, 212, 250, 0.819);
  height: 30vh;
  width: 150vh;
  border-radius: 50px;
  grid-column: 2;
  grid-row: 1;
  margin-top: 2vh;
  margin-left: -1.5%;
  margin-bottom: 5%;
}

#oferta2 {
  background-color: rgba(224, 212, 250, 0.819);
  height: 30vh;
  width: 150vh;
  border-radius: 50px;
  grid-column: 2;
  grid-row: 2;
  margin-top: 2vh;
  margin-left: -1.5%;
}

#oferta3 {
  background-color: rgba(224, 212, 250, 0.819);
  height: 30vh;
  width: 150vh;
  border-radius: 50px;
  grid-column: 2;
  grid-row: 3;
  margin-top: 2vh;
  margin-left: -1.5%;
}

#miniCalendario {
  background-color: rgba(39, 11, 100, 0.819);
  grid-column: 1;
  grid-row: 2;
  height: 50vh;
  width: 40vh;
  margin: 2vh;
  margin-top: -110%;
  border-radius: 30px;
}
