* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Playfair"; /* Puedes darle el nombre que prefieras */
  src: url("../../fuentes/static/PlayfairDisplay-Regular.ttf")
    format("truetype"); /* Ajusta la ruta según la ubicación de tu archivo de fuente */
  /* Puedes agregar formatos adicionales para mayor compatibilidad, como woff o woff2 */
}

body {
  font-family: "NombreDeTuFuente", sans-serif; /* Utiliza la fuente en tu documento */
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  font-family: "Playfair", sans-serif;
}

#container-login {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  background-color: rgb(197, 175, 250);
  width: 60%;
  height: 60%;
  border-radius: 30px;
}

#logo {
  background-color: rgba(78, 38, 163, 0.819);
  flex: 1;
  border-radius: 40px 0px 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenido-login {
  margin: 15%;
}

input {
  width: 95%; /* El ancho es el 50% del contenedor padre */
  height: 3em; /* Altura en relación con la fuente */
  margin-bottom: 15%;
  margin-top: 3%;
  border-radius: 20px;
}

label {
  color: rgb(78, 38, 163);
}

button {
  color: white;
  background-color: rgba(78, 38, 163, 0.819);
  height: 3em;
  border-radius: 20px;
  width: 20%;
}

p {
  margin-top: 20%;
  color: rgb(78, 38, 163);
}
